<div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img width="300" alt="Angular Logo" src="../assets/images/taxi_0.png">
  </div>
  <div class="container">
    <div class="row default-pad-top-20">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 col-lg-4-offset">
        <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg btn-yellow btn-block" (click)="signinClick();">Sign in</button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row default-pad-top-20">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 col-lg-4-offset">
        <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg btn-signup btn-block">Sign up</button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="row default-pad-top-10">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 col-lg-4-offset">
        <div class="text-center">
          <a class="link-yellow" href="#">Forgot password?</a>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>