<nav class="navbar fixed-top navbar-collapse-lg navbar-light bg-yellow">
    <a class="navbar-brand" href="/">
      <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Easy Go!
    </a>
    <button class="navbar-toggler" type="button" (click)="onSettingClick()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

<router-outlet></router-outlet>