<div class="container">
  <div class="my-2 text-center">

    <h2>Admin Configuration</h2>
    <p class="lead">
      Please set the base values for fare estimation.
    </p>
  </div>

  <div class="row pt-3">
    <div class="col-md-4 order-md-1">
      <h4 class="mb-3">Distance</h4>
      <hr class="mb-4">
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="firstName">Base distance in
              <b>(Kms)</b>
            </label>
            <input type="number" class="form-control text-right" id="firstName" 
            placeholder="0" step="1" min="0" [value]="baseDistance" required=""
            >
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lastName">Fare till base distance
              <b>(₹/km)</b>
            </label>
            <input type="number" class="form-control text-right" id="lastName" placeholder="0.00" step="1" min="0" [value]="baseDistanceFare"
              required="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lastName">Fare after base distance
              <b>(₹/km)</b>
            </label>
            <input type="number" class="form-control text-right" id="lastName" placeholder="0.00" step="1" min="0" [value]="extraDistanceFare"
              required="">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 order-md-2">
      <h4 class="mb-3">Waiting Time</h4>
      <hr class="mb-4">
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="firstName">Base waiting time in
              <b>(mins)</b>
            </label>
            <input type="number" class="form-control text-right" id="firstName" placeholder="0" step="1" min="0" [value]="baseWaitingTime"
              required="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lastName">Fare till base waiting time
              <b>(₹/min)</b>
            </label>
            <input type="number" class="form-control text-right" id="lastName" placeholder="0.00" step="1" min="0" [value]="baseWaitingFare"
              required="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lastName">Fare after base waiting time
              <b>(₹/min)</b>
            </label>
            <input type="number" class="form-control text-right" id="lastName" placeholder="0.00" step="1" min="0" [value]="extraWaitingFare"
              required="">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 order-md-3">
      <h4 class="mb-3">Tax & Base fare</h4>
      <hr class="mb-4">
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lastName">Tax
              <b>(%)</b>
            </label>
            <input type="number" class="form-control text-right" id="lastName" placeholder="0" step="1" min="0" [value]="taxPercentage"
              required="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="firstName">Minimum fare
              <b>(₹)</b>
            </label>
            <input type="number" class="form-control text-right" id="firstName" placeholder="0.00" step="1" min="0" [value]="minBaseFare"
              required="" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr class="mb-4">
  <div class="row pt-1">
    <div class="col-md-4 offset-md-4">
      <div class="text-center pb-2">
        <button type="button" class="btn btn-primary btn-lg btn-yellow btn-block" (click)="updateBaseClick();">Update</button>
      </div>
    </div>
  </div>
</div>