/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #1d1d1d !important;
    background-image: url("assets/images/map_background_0.jpg");
    color: #ffffff !important;
}
.layer {
    background-color: rgba(52, 58, 64, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.default-pad-top{
    padding-top: 60px !important;
}

.default-pad-top-20{
    padding-top: 20px !important;
}

.default-pad-top-10{
    padding-top: 10px !important;
}

.btn-block {
    display: block;
    width: 100%;
    border-radius: 25px !important;
    text-align: center;
    box-shadow: 0 8px 6px -6px rgba(153, 153, 153, 0.822);
}

.bg-yellow{
    background-color: #ffe62e !important;
}

.btn-yellow {
    color: #000;
    background-color: #ffe62e !important;
    border-color: #ebd42a !important;
}

.btn-signup {
    color: #000;
    background-color: #bb9d06 !important;
    border-color: #bb9d06 !important;
}

.btn-yellow :hover {
    color: #FFF;
    background-color: #bb9d06 !important;
    border-color: #cab302 !important;
}

.link-yellow {
    color: #ffe62e !important;
}
