<div class="container">
  <div class="my-2 text-center">

    <h2>Book a Cab</h2>
    <p class="lead">
      Please fill in the
      <b>Distance</b> and
      <b>Waiting</b> time to estimate the trip.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 align-items-center">
      <h4 class="mb-3">Trip details</h4>
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="firstName">Total Distance in
              <b>(Kms)</b>
            </label>
            <input type="number" class="form-control text-right" id="firstName" placeholder="0.0" step=".1" min="0.00" [value]="actualDistance"
              required="" (input)="onDistanceChange($event.target.value)">
            <!-- <div class="invalid-feedback">
              Valid first name is required.
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="lastName">Waiting Time in
              <b>(mins)</b>
            </label>
            <input type="number" class="form-control text-right" id="lastName" placeholder="0" min="0" [value]="actualWaiting" required=""
              (input)="onTimeChange($event.target.value)">
            <!-- <div class="invalid-feedback">
                  Valid last name is required.
                </div> -->
          </div>
        </div>


        <hr class="mb-4">
      </form>
    </div>
    <div class="col-md-4 order-md-3 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>Your bill</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="my-2 estimate-detail text-muted">Base fare</small>
          </div>
          <span class="text-muted">₹ {{minBaseFare}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="text-muted estimate-detail">For overall kms</small>
          </div>
          <span class="text-muted estimate-detail">₹ {{totalDistanceFare}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="text-muted estimate-detail">Waiting charge</small>
          </div>
          <span class="text-muted">₹ {{totalWaitingFare}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <small class="text-muted estimate-detail">Tax</small>
          </div>
          <span class="text-muted">₹ {{totalTax}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>Currently unavailable</small>
          </div>
          <span class="text-success">NA</span>
        </li>
        <li class="list-group-item fare-type d-flex justify-content-between">
          <span>Total (INR)</span>
          <strong>₹ {{totalEstimate}}</strong>
        </li>
      </ul>

      <form class="card p-2">
        <button type="button" class="btn btn-block btn-lg btn-yellow">Confirm & Book</button>
      </form>
    </div>
    <div class="col-md-4 order-md-1 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Route details</span>
          </h4>
        <div class="card">
            <img class="card-img-top" style="height: 390px;" src="../assets/images/route_map_0.png" alt="Card image cap">
        </div>
    </div>
  </div>
</div>